name: Build and Test

on:
  pull_request:
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-24.04
    if: github.event.pull_request.merged == true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run:
          apt-get update && apt-get install -y g++ libpcsclite-dev
        # with:
        #   ref: ${{ github.event.pull_request.merge_commit_sha }}
      - name: Build
        run: |
          make
      - name: Upload libpcsclite.so.1
        uses: actions/upload-artifact@v4
        with:
          name: libpcsclite.so.1
          path: /lib/x86_64-linux-gnu/libpcsclite.so.1
  
  release:
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: libpcsclite.so.1
          asset_name: libpcsclite.so.1
          asset_content_type: binary/octet-stream